body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.EUR {
  color: #fd8b52e5;
  font-weight: 700;
}
.villas {
  font-weight: 300;
}

.button_style {
  background-color: #fd8b52e5;
  color: white;
  font-weight: 500;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
}
.button_style:hover {
  background-color: white;
  color: #fd8b52e5;
  border: 1px solid #fd8b52e5;
  transition-duration: 700ms;
}

.Feature {
  background-color: #d8ebf1;
}

.Feature h3 {
  color: #003865;
  margin-top: 15px;
}

.button_map {
  background-color: white;
  color: #fd8b52e5;
  font-weight: 500;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.082);
}
.button_map:hover {
  background-color: #fd8b52e5;
  color: white;
  border: 1px solid #fd8b52e5;
  transition-duration: 700ms;
}

.destinations {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

.destinations_card {
  box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.082);
}

.destinations_card h5 {
  font-weight: 400;
  font-size: 18px;
}

.destinations_card img {
  height: 108px;
}

.according_style {
  margin-top: 70px;
  width: 700px;
}

.inspiration_container h6 {
  font-size: 12px;
}
.inspiration_container img {
  border-radius: 5px;
  height: 140px;
}

.button_newsletter {
  background-color: #fd8b52e5;
  color: white;
  font-weight: 500;
  width: 400px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
}
.button_newsletter:hover {
  background-color: white;
  color: #fd8b52e5;
  border: 1px solid #fd8b52e5;
  transition-duration: 700ms;
}

.newsletter_container {
  background-color: #f5f5f5;
}

.newsletter_container h2 {
  font-weight: 400;
}
.newsletter_container p {
  font-weight: 700;
}

.img_content {
  position: absolute;
  bottom: 0;
  left: 30%;
}

.popular_container {
  width: 100%;
  height: 100%;
}

.popular_container img {
  width: 100%;
  height: 220px;
}

.new_villas_container h3 {
  font-weight: 400;
}
.new_villas_container h4 {
  font-weight: 600;
}

.button_villas {
  background-color: #fd8b52e5;
  color: white;
  font-weight: 500;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.button_villas:hover {
  background-color: white;
  color: #fd8b52e5;
  border: 1px solid #fd8b52e5;
  transition-duration: 700ms;
}

.villas_border {
  border: 1px solid rgba(128, 128, 128, 0.548);
}

.shortlist {
  background-color: white;
  border: 1px solid #fd8b52e5;
  color: #fd8b52e5;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.shortlist:hover {
}

.form_bg {
  background-color: #f5f5f5;
}

.form_content_color {
  color: #003865;
}

.nights {
  font-size: 15px;
  font-weight: 400;
}

.more_details {
  background-color: #fd8b52e5;
  width: 100%;
  color: white;
  font-weight: 500;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
.more_details:hover {
  background-color: white;
  color: #fd8b52e5;
  border: 1px solid #fd8b52e5;
  transition-duration: 700ms;
}
